<header>
<h1> SUPER AMAZING MAZE GAME </h1>

<nav>
        <ul class="navbar-list">
      <li class="navbar-item"><a href="#">Easy</a></li>
            <li class="navbar-item"><a href="#">Medium</a></li>
      <li class="navbar-item"><a href="#">Hard</a></li>
            <li class="navbar-item navbar-right"><a href="#">Instructions</a></li>
        </ul>
      </nav>
</header>
