<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>aMAZEing</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    {{{body}}}

  </body>

{{#if other}}
<script type="text/javascript" src="NoMaze.js"> </script>
{{else}}
<script type="text/javascript" src="maze.js"> </script>
<script type="text/javascript" src="server.js"> </script>
{{/if}}


</html>
