{{>header}}

	<body>
		<main>
			<div class="page_not_found">
				<p class="pg404"> 404 </p>
				<br>
				<p> Oh no! The page you were looking for was not found. </p>
			</div>
		</main>
	</body>

{{>footer}}
