{{> header}}

<!--	<div id="overlay"><div id="popup"><button id="control"><a href="javascript:blurFunction(0);">START</a></button></div></div>
	-->
	<body onload="main()">
		<canvas id="game" width="400" height="400" ></canvas>

		<br>
	<!--	<a href="javascript:blurFunction(1);">THIS WILL BLUR FIRST</a> -->

		<div id="info">
			<div class="button" id="play">play</div>
			<div class="button" id="animate">animate</div>
			<div class="button" id="generate">generate</div>

			<!--
			<a href="http://github.com/JotraN/maze">source</a><br>
			<a href="http://jotran.github.io">other cool stuff</a><br>
			-->
		</div>


	<div class="timer_box">
		Timer :
		<span id="my_timer">0</span>
		<button id="control">START</button>
</div>

		<main>
			<section class= "mazegame">
			</section>

			<section class= "scoreboard">
				<h3 class="scoret"> Scoreboard </h3>

				<section class= "timer">
					<h4> Highest Score: </h4>
						<span id="score1"> 100 </span>
				</section>

				<section class="Record">
					<h4 class="records"> Records </h4>
					<table>
						<tr>
    						Easy:
								<span id='easy-high'>{{first}}</span>
  					</tr>
						<tr>
    						Medium:
								<span id='mid-high'>{{second}}</span>
  					</tr>
						<tr>
    						Hard:
								<span id='hard-high'>{{third}}</span>
  					</tr>
					</table>
					</section>
				</section>
		</main>

{{>footer}}
