{{>header}}

		<main>

			<section class= "block_text">
				<h3> Starting the Game </h3>
          <p>
						When you enter the main page you will already have a random maze generated for you. However if you wish to generate a new maze then just click the generate button.The timer for the game will begin when you either press the start button or start moving the black square.
          </p>
      </section>

			<section class= "block_text">
				<h3> How to play</h3>
        <p> The game is simple. The player is represented by the black square and the exit in the maze is represented by the red square. Your goal is to move the black square to the red square as fast as possiable. To move the black square the W,S,A,D keys are needed. W is up. A is left. S is down. D is right.
        </p>
			</section>

      <section class= "block_text">
				<h3> Scoreboard </h3>
        <p>the scoreboard is a dark blue box dislplayed at the right of the screen. Here is where you will find your time for the current maze being solved. The record for the fastest time a puzzle has ever been solved is also displayed here.
        </p>
			</section>

      <section class= "block_text">
				<h3> About us </h3>
    			        <p> We are the project team for CS290 Web Development consisting of Francisco Bolanos, Jaehyung You, and Ronald Salinas.</p>
				<p><br> Credits go to Joseph Tran ( <a href="http://josephtran.io/"> link to his website </a> ) for the maze interaction and functionality and Robin Hess for providing code examples.</p>
				<p> We'd also like to thank the Piazza forum and Stack Overflow users for helping us with our development. </p>
			</section>

		</main>

		{{>footer}}
